article img{
	width:100%;
	height:auto;
}
p{
	font-family: Arial, Helvetica, sans-serif;
	font-size:2vw;
}
.container{
	display:grid;
	grid-template-columns: .8fr 1.1fr 1fr;
	grid-template-rows: .9fr .2fr .9fr .2fr;
	column-gap: 1rem;
	grid-template-areas:
	"content1 content3 content5"
	"content1 content4 content6"
	"content1 content7 content8"
	"content2 content9 content9"



}
#content1{
	grid-area: content1;
	object-fit: cover;
}
#content2{
	grid-area: content2;
}
#content3{
	grid-area: content3;
	object-fit:cover;
}
#content4{
	grid-area: content4;
}
#content5{
	grid-area: content5;
	object-fit:cover;
}
#content6{
	grid-area: content6;
}
#content7{
	grid-area: content7;
	object-fit:cover;
}
#content8{
	grid-area: content8;
}
#content9{
	grid-area: content9;
	object-fit:cover;
}
@media only screen and (max-width: 600px){
	.container{
		grid-template-columns: 1fr;
		grid-template-rows: 1fr .2fr .7fr .2fr .7fr .2fr .7fr .2fr .7fr .2fr;
		grid-template-areas: 
		"content1"
		"content2"
		"content3"
		"content4"
		"content5"
		"content6"
		"content7"
		"content8"
		"content9";
	}
}